$color-main: #3F3E59 !default;
$color01: #3F3E59 !default; // black
$color02: #00C79F !default; // green
$color03: #00E37C !default; // light green
$color04: #0095E2 !default; // blue
$color05: #AB39BA !default; // purple
$color06: #DDDDDD !default; // gray
$color07: #FFF6E1 !default; // beige
$color08: #FCFCFC !default; // light gray

$orange: #F54906 !default;                  // orange
$light-grey: #CCC9D1 !default;              // ligh-grey

$color-link: #F54906 !default;              // orange
$color-link-hover: #BF360C !default;        // dark-orange

$main-text-color: #424242 !default;         // black
$main-background: #FAFAFA !default;         // white

$header: #F54906 !default;                  // orange
$text-color: #CCC9D1 !default;              // dark-grey
$header-color-link: #E2E1E9 !default;       // light-grey
$header-color-link-hover: white !default;   // white

$title-color-link: #F54906 !default;        // orange
$title-color-link-hover: #BF360C  !default; // dark-orange

$link-color-link: #F54906 !default;         // orange
$link-color-link-hover: #BF360C !default;   // dark-orange

$meta-color: #424242 !default;
$meta-color-hover: #F54906 !default;

$code-bg: #1D1F21 !default;
$code-pre-border: #424242 !default;
$code-pre-bg: #1D1F21 !default;


